<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 p-2" style="background-color: #e3f2fd">
      <div class="container">
          <a class="navbar-brand" asp-area="" routerLink="">BookClub</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <router-outlet></router-outlet>
    </main>
</div>