<div class="p-5 text-center bg-image img-fluid"
     style="background-image: url('../../assets/images/bookbgimg.jpg'); height: 600px;">
    <div class="h-100" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome to the Book Club</h1>
                <h5 class="mb-4">
                    Save books to read and discover new books to add to your list.
                </h5>
                <a class="btn btn-outline-light btn-lg m-2" routerLink="join" role="button" >Join our club!</a>
                <a class="btn btn-outline-light btn-lg m-2" routerLink="login" role="button" >Login</a>
            </div>
        </div>
    </div>
</div>
